## Import packages

In [95]:
import pandas as pd 
import os
import json
from datetime import datetime
import matplotlib.pyplot as plt
import math
import csv
from geopy.geocoders import Nominatim
import geocoder

In [96]:
pd.set_option('display.max_columns', None)

In [391]:
#load accidents data
accidents_raw = pd.read_csv('/Users/sabina/Documents/2022/project/data/raw/Accidents0515.csv')

In [98]:
#load casualties data
casualties = pd.read_csv('/Users/sabina/Documents/2022/project/data/raw/Casualties0515.csv',on_bad_lines='skip')

In [415]:
#drop NAs
accidents = accidents_raw.dropna()

In [416]:
#merge datasets
df = accidents.merge(casualties, right_index=True, left_index=True)

,Accident_Index_x,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,Day_of_Week,Time,Local_Authority_(District),Local_Authority_(Highway),1st_Road_Class,1st_Road_Number,Road_Type,Speed_limit,Junction_Detail,Junction_Control,2nd_Road_Class,2nd_Road_Number,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location,Accident_Index_y,Vehicle_Reference,Casualty_Reference,Casualty_Class,Sex_of_Casualty,Age_of_Casualty,Age_Band_of_Casualty,Casualty_Severity,Pedestrian_Location,Pedestrian_Movement,Car_Passenger,Bus_or_Coach_Passenger,Pedestrian_Road_Maintenance_Worker,Casualty_Type,Casualty_Home_Area_Type
0,200501BS00001,525680.0,178240.0,-0.191170,51.489096,1,2,1,1,04/01/2005,3,17:42,12,E09000020,3,3218,6,30,0,-1,-1,0,0,1,1,2,2,0,0,1,1,E01002849,200501BS00001,1,1,3,1,37,7,2,1,1,0,0,-1,0,1
1,200501BS00002,524170.0,181650.0,-0.211708,51.520075,1,3,1,1,05/01/2005,4,17:36,12,E09000020,4,450,3,30,6,2,5,0,0,5,4,1,1,0,0,1,1,E01002909,200501BS00002,1,1,2,1,37,7,3,0,0,0,4,-1,11,1
2,200501BS00003,524520.0,182240.0,-0.206458,51.525301,1,3,2,1,06/01/2005,5,00:15,12,E09000020,5,0,6,30,0,-1,-1,0,0,0,4,1,1,0,0,1,1,E01002857,200501BS00003,2,1,1,1,62,9,3,0,0,0,0,-1,9,1
3,200501BS00004,526900.0,177530.0,-0.173862,51.482442,1,3,1,1,07/01/2005,6,10:35,12,E09000020,3,3220,6,30,0,-1,-1,0,0,0,1,1,1,0,0,1,1,E01002840,200501BS00004,1,1,3,1,30,6,3,5,2,0,0,-1,0,1
4,200501BS00005,528060.0,179040.0,-0.156618,51.495752,1,3,1,1,10/01/2005,2,21:13,12,E09000020,6,0,6,30,0,-1,-1,0,0,0,7,1,2,0,0,1,1,E01002863,200501BS00005,1,1,1,1,49,8,3,0,0,0,0,-1,3,-1
5,200501BS00006,524770.0,181160.0,-0.203238,51.515540,1,3,2,1,11/01/2005,3,12:40,12,E09000020,6,0,6,30,0,-1,-1,0,0,0,1,2,2,6,0,1,1,E01002832,200501BS00006,2,1,1,2,30,6,3,0,0,0,0,-1,3,1
6,200501BS00007,524220.0,180830.0,-0.211277,51.512695,1,3,2,1,13/01/2005,5,20:40,12,E09000020,5,0,6,30,3,4,6,0,0,0,4,1,1,0,0,1,1,E01002875,200501BS00007,1,1,1,1,31,6,3,0,0,0,0,-1,3,-1
7,200501BS00009,525890.0,179710.0,-0.187623,51.502260,1,3,1,2,14/01/2005,6,17:35,12,E09000020,3,315,3,30,0,-1,-1,0,0,0,1,1,1,0,0,1,1,E01002889,200501BS00009,1,1,3,2,13,3,3,6,9,0,0,-1,0,1
8,200501BS00010,527350.0,177650.0,-0.167342,51.483420,1,3,2,2,15/01/2005,7,22:43,12,E09000020,3,3212,6,30,6,2,4,304,0,5,4,1,1,0,0,1,1,E01002900,200501BS00009,1,2,3,2,13,3,3,6,9,0,0,-1,0,1
9,200501BS00011,524550.0,180810.0,-0.206531,51.512443,1,3,2,5,15/01/2005,7,16:00,12,E09000020,4,450,6,30,3,4,5,0,0,8,1,1,1,0,0,1,1,E01002875,200501BS00010,1,1,1,1,35,6,3,0,0,0,0,-1,9,1

In [434]:
accidents['Date'] = pd.to_datetime(accidents['Date'], format='%d/%m/%Y')

/var/folders/lc/3yknv_8x5832sztwzg33_tcw0000gn/T/ipykernel_29331/554119514.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  accidents['Date'] = pd.to_datetime(accidents['Date'], format='%d/%m/%Y')

In [435]:
accidents = accidents.set_index('Date').sort_index()

In [436]:
accidents_dec1 = accidents.loc['2015-12-01':'2015-12-02']

In [437]:
accidents_dec1.shape

(809, 31)

In [438]:
def city_name(x):
    g = geocoder.osm([x.Latitude, x.Longitude], method='reverse').json
    if g:
        return g.get('city')
    else:
        return 'no city'

In [ ]:
accidents_dec1['city'] = accidents_dec1[['Latitude', 'Longitude']].apply(city_name, axis=1)

In [318]:
accidents_dec1.to_csv('01122015-02122015.csv')