# UK Car Accidents 2005-2015

In [1]:
import os

In [2]:
os.getcwd()

'/Users/ersankucukoglu/Desktop/Projects/accidents_python-project/code'

In [3]:
#import packages
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

In [4]:
#load the datasets
accidents_raw = pd.read_csv('/Users/ersankucukoglu/Desktop/Projects/accidents_python-project/data/raw/Accidents0515.csv')
casualties_raw = pd.read_csv('/Users/ersankucukoglu/Desktop/Projects/accidents_python-project/data/raw/Casualties0515.csv',on_bad_lines='skip')

## Accidents dataset

#### Quick look at the data:

In [5]:
nRow, nCol = accidents_raw.shape
print(f'There are {nRow} rows and {nCol} columns.')

There are 1780653 rows and 32 columns.

In [6]:
accidents_raw.head(10)

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Date,...,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location
0,200501BS00001,525680.0,178240.0,-0.191170,51.489096,1,2,1,1,04/01/2005,...,0,1,1,2,2,0,0,1,1,E01002849
1,200501BS00002,524170.0,181650.0,-0.211708,51.520075,1,3,1,1,05/01/2005,...,0,5,4,1,1,0,0,1,1,E01002909
2,200501BS00003,524520.0,182240.0,-0.206458,51.525301,1,3,2,1,06/01/2005,...,0,0,4,1,1,0,0,1,1,E01002857
3,200501BS00004,526900.0,177530.0,-0.173862,51.482442,1,3,1,1,07/01/2005,...,0,0,1,1,1,0,0,1,1,E01002840
4,200501BS00005,528060.0,179040.0,-0.156618,51.495752,1,3,1,1,10/01/2005,...,0,0,7,1,2,0,0,1,1,E01002863
5,200501BS00006,524770.0,181160.0,-0.203238,51.515540,1,3,2,1,11/01/2005,...,0,0,1,2,2,6,0,1,1,E01002832
6,200501BS00007,524220.0,180830.0,-0.211277,51.512695,1,3,2,1,13/01/2005,...,0,0,4,1,1,0,0,1,1,E01002875
7,200501BS00009,525890.0,179710.0,-0.187623,51.502260,1,3,1,2,14/01/2005,...,0,0,1,1,1,0,0,1,1,E01002889
8,200501BS00010,527350.0,177650.0,-0.167342,51.483420,1,3,2,2,15/01/2005,...,0,5,4,1,1,0,0,1,1,E01002900
9,200501BS00011,524550.0,180810.0,-0.206531,51.512443,1,3,2,5,15/01/2005,...,0,8,1,1,1,0,0,1,1,E01002875

In [ ]:
#info attribute gives info about dataframe
accidents_raw.info()

In [ ]:
#summary stats
accidents_raw.describe()

In [ ]:
#column names
accidents_raw.columns

In [7]:
accidents_raw.isnull().sum()

Accident_Index                                      0
Location_Easting_OSGR                             138
Location_Northing_OSGR                            138
Longitude                                         138
Latitude                                          138
Police_Force                                        0
Accident_Severity                                   0
Number_of_Vehicles                                  0
Number_of_Casualties                                0
Date                                                0
Day_of_Week                                         0
Time                                              151
Local_Authority_(District)                          0
Local_Authority_(Highway)                           0
1st_Road_Class                                      0
1st_Road_Number                                     0
Road_Type                                           0
Speed_limit                                         0
Junction_Detail                                     0
Junction_Control                                    0
2nd_Road_Class                                      0
2nd_Road_Number                                     0
Pedestrian_Crossing-Human_Control                   0
Pedestrian_Crossing-Physical_Facilities             0
Light_Conditions                                    0
Weather_Conditions                                  0
Road_Surface_Conditions                             0
Special_Conditions_at_Site                          0
Carriageway_Hazards                                 0
Urban_or_Rural_Area                                 0
Did_Police_Officer_Attend_Scene_of_Accident         0
LSOA_of_Accident_Location                      129471
dtype: int64

In [8]:
#drop na
accidents = accidents_raw.dropna()

In [20]:
# Convert the date to datetime64
accidents['Date'] = pd.to_datetime(accidents['Date'], format='%d/%m/%Y')

/var/folders/zv/s48v24ws6gq1pfmppbzwjvs00000gn/T/ipykernel_59124/2636492076.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  accidents['Date'] = pd.to_datetime(accidents['Date'], format='%d/%m/%Y')

In [21]:
# Filter data between two dates
accidents = accidents.loc[(accidents['Date'] >= '01/01/2010')
                     & (accidents['Date'] < '31/12/2015')]

In [22]:
#filter the date between 2010-01-01 and 2015-12-31
accidents.shape

(818278, 32)

In [ ]:
accidents.isnull().sum()

In [ ]:
#correlation 

accidents_corr = accidents.corr()
plt.figure(figsize=(20,10))
sns.heatmap(accidents_corr, annot=True)

In [ ]:
#Distribution of accidents based on dayweek:

plt.figure(figsize=(10,5))
accidents['Day_of_Week'].hist(color='purple')
plt.grid(alpha=0.4)

In [ ]:
#Distribution of accidents based on road type:

plt.figure(figsize=(10,5))
ax=sns.countplot('Road_Type',hue='Accident_Severity',data=accidents)
ax.set_xticklabels(['Roundabout','One_way_street ','Dual_carriageway','Single carriageway','Slip road','Unknown'])
plt.xticks(rotation=90)
plt.legend(['Fatal','Serious','Slight'])
plt.grid(alpha=0.4)

In [ ]:
#Map - Scatter plot of Longitude/Latitude

plt.figure(figsize=(10,5))
plt.scatter(x='Latitude',y='Longitude',data=accidents,c='orange')
plt.xlabel('Latitude',fontsize=12)
plt.ylabel('Longitude',fontsize=12)
plt.grid(alpha=0.4)

In [ ]:
#Distribution of accidents based on light conditions

plt.figure(figsize=(10,5))
ax=sns.countplot('Light_Conditions',data=accidents,color='orange') 
ax.set_xticklabels(['Daylight','Darkness - lights lit',
                    'Darkness - lights unlit','Darkness - no lighting','Darkness - lighting unknown'])
plt.xticks(Rotation=90)
plt.title('Accident rates based on light conditions',fontsize=15)
plt.grid(alpha=0.4)
plt.show()

## Casualties dataset

#### Quick look at the data:

In [ ]:
nRow, nCol = casualties_raw.shape
print(f'There are {nRow} rows and {nCol} columns.')

In [ ]:
casualties_raw.head(10)

In [ ]:
#info attribute gives info about dataframe
casualties_raw.info()

In [ ]:
#summary stats
casualties_raw.describe()

In [ ]:
#column names
casualties_raw.columns

In [ ]:
casualties_raw.isnull().sum()

In [ ]:
casualties = casualties_raw

In [ ]:
#correlation
casualties_corr = casualties.corr()
plt.figure(figsize=(20,10))
sns.heatmap(casualties_corr, annot=True)

In [ ]:
#Histograms
plt.figure()
casualties.hist(figsize=(15,15));

In [ ]:
#Distrubution of casualties by age:

plt.figure(figsize=(20,5))
sns.countplot('Age_of_Casualty',data=casualties)
plt.title('Casualties vs Age', fontsize=15)
plt.xticks(rotation=90)
plt.grid(alpha=0.4)
plt.show()

#skewed to the right

In [ ]:
#Distrubution of casualties by age and gender:

plt.figure(figsize=(40,10))
sns.countplot('Age_of_Casualty',hue='Sex_of_Casualty',data=casualties)
plt.xticks(fontsize=15,rotation=90)
plt.legend(['Missing data','Male','Female'],prop={'size': 30}, loc=1)
plt.grid(alpha=0.4)
plt.xlabel('AGE_OF_CASUALITIES', fontsize=25)
plt.ylabel('COUNT', fontsize=25)
plt.show()

#more males

In [ ]:
#Distribution of casualty class

plt.figure()
ax=sns.countplot('Casualty_Class', data=casualties)
ax.set_xticklabels(['Driver or rider','Passenger','Pedestrian'])
plt.grid(alpha=0.4)
plt.show()

#more drivers

## Accidents-Casualties

In [ ]:
#merge datasets

df = accidents.merge(casualties, right_index=True, left_index=True)
df.head(10)

In [ ]:
df.columns

## Data exploration

In [ ]:
#Accidents severity by sex

plt.figure(figsize=(10,5))
ax=sns.countplot('Accident_Severity',hue='Sex_of_Casualty',data=df)
ax.set_xticklabels(['Fatal','Serious','Slight'])
plt.legend(['Unlabelled','Male','Female'],fontsize=12)
plt.title('Accidents severity by sex', fontsize=15)
plt.grid(alpha=0.4)

In [ ]:
#Accidents severity by casualty class

plt.figure(figsize=(10,5))
ax=sns.countplot('Accident_Severity',hue='Casualty_Class',data=df)
plt.legend(['Driver or rider','Passenger','Pedestrian'],fontsize=12)
ax.set_xticklabels(['Fatal','Serious','Slight'])
plt.title('Accidents severity by Casualty Class', fontsize=15)
plt.grid(alpha=0.4)

In [ ]:
#Accidents severity by light conditions

plt.figure(figsize=(10,5))
ax=sns.countplot('Accident_Severity', hue='Light_Conditions', data=df)
plt.legend(['Daylight','Darkness - lights lit','Darkness - lights unlit','Darkness - no lighting','Darkness - lighting unknown'],fontsize=12)
ax.set_xticklabels(['Fatal','Serious','Slight'])
plt.title('Accident severity by Light conditions', fontsize=15)
plt.grid(alpha=0.4)

In [ ]:
#Accidents severity by road type

plt.figure(figsize=(10,5))
sns.countplot('Accident_Severity', hue='Road_Type', data=df)
ax.set_xticklabels(['Fatal','Serious','Slight'])
plt.legend(['Roundabout','One way street','Dual carriageway','Single carriageway','Slip road','Unknown'], fontsize=12)
plt.title('Accident severity by road type', fontsize=15)
plt.grid(alpha=0.4)