## Data preparation for API

In [1]:
import pandas as pd 
import os
import json
from datetime import datetime
import matplotlib.pyplot as plt
import math
import csv
from geopy.geocoders import Nominatim
import geocoder

In [2]:
pd.set_option('display.max_columns', None)

In [4]:
accidents_raw = pd.read_csv('/Users/ersankucukoglu/Desktop/Projects/accidents_python-project/data/raw/Accidents0515.csv')

In [5]:
#drop NAs
accidents = accidents_raw.dropna()

In [6]:
accidents['Date'] = pd.to_datetime(accidents['Date'], format='%d/%m/%Y')

/var/folders/zv/s48v24ws6gq1pfmppbzwjvs00000gn/T/ipykernel_3713/554119514.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  accidents['Date'] = pd.to_datetime(accidents['Date'], format='%d/%m/%Y')

In [7]:
accidents = accidents.set_index('Date').sort_index()

In [8]:
accidents.head(10)

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Day_of_Week,Time,Local_Authority_(District),Local_Authority_(Highway),1st_Road_Class,1st_Road_Number,Road_Type,Speed_limit,Junction_Detail,Junction_Control,2nd_Road_Class,2nd_Road_Number,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location
Date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2005-01-01,200506Q917927,390440.0,405500.0,-2.145753,53.546041,6,3,2,5,7,15:30,104,E08000004,3,663,6,40,6,4,3,669,0,0,1,2,2,0,0,1,1,E01005327
2005-01-01,2005030000222,309370.0,525330.0,-3.404932,54.614977,3,3,1,1,7,00:58,60,E10000006,3,5086,6,60,0,-1,-1,0,0,0,6,1,2,0,0,2,1,E01019091
2005-01-01,2005160D00630,508560.0,429470.0,-0.355114,53.750295,16,3,2,2,7,14:02,228,E06000010,6,0,6,30,3,4,6,0,0,0,1,1,1,0,0,1,1,E01012852
2005-01-01,200542E000101,599770.0,227110.0,0.902767,51.906647,42,3,1,1,7,11:05,455,E10000012,6,0,6,30,0,-1,-1,0,0,0,1,1,1,0,0,1,1,E01021679
2005-01-01,200542E000201,603020.0,230820.0,0.952133,51.938785,42,2,1,2,7,23:57,455,E10000012,3,12,3,70,0,-1,-1,0,0,0,6,1,2,0,0,2,1,E01021655
2005-01-01,2005160D01750,507360.0,428710.0,-0.373569,53.743715,16,3,2,1,7,19:16,228,E06000010,3,1105,6,30,6,2,6,0,0,5,4,1,2,0,0,1,1,E01012859
2005-01-01,2005160D03840,513430.0,431660.0,-0.280490,53.768934,16,3,2,1,7,17:40,228,E06000010,3,165,3,30,3,4,6,0,0,0,4,4,2,0,0,1,1,E01012825
2005-01-01,200563AC00405,229590.0,210290.0,-4.470960,51.765247,63,3,1,1,7,06:20,751,W06000010,3,4066,6,30,0,-1,-1,0,0,0,4,1,2,0,0,2,1,W01000673
2005-01-01,2005160D04130,515090.0,430310.0,-0.255820,53.756442,16,3,3,2,7,19:19,228,E06000010,6,0,6,30,8,4,6,0,0,0,4,2,2,0,0,1,1,E01012846
2005-01-01,200514D001905,436550.0,387700.0,-1.451948,53.384874,14,3,2,1,7,17:10,215,E08000019,3,57,3,40,0,-1,-1,0,0,0,7,2,2,0,0,1,2,E01007885

In [9]:
#it takes hours to load data, thus we loaded it by days/weeks
accidents_dec1 = accidents.loc['2015-12-01':'2015-12-07']

In [10]:
accidents_dec1.shape

(2700, 31)

In [11]:
#add city using geocoder package

def city_name(x):
    g = geocoder.osm([x.Latitude, x.Longitude], method='reverse').json
    if g:
        return g.get('city')
    else:
        return 'no city'

In [16]:
accidents_dec1['city'] = accidents_dec1[['Latitude', 'Longitude']].apply(city_name, axis=1)

/var/folders/lc/3yknv_8x5832sztwzg33_tcw0000gn/T/ipykernel_38605/2244529344.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  accidents_dec1['city'] = accidents_dec1[['Latitude', 'Longitude']].apply(city_name, axis=1)

In [17]:
accidents_dec1.to_csv('01122015-07122015.csv')

In [12]:
#load all accidents tables with cities saved into one file
accidents_withcities = pd.read_csv('/Users/ersankucukoglu/Desktop/Projects/accidents_python-project/data/winter2015withcities.csv',on_bad_lines='skip')

In [13]:
accidents_withcities.head(10)

,Date,Accident_Index_x,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Day_of_Week,Time,Local_Authority_(District),Local_Authority_(Highway),1st_Road_Class,1st_Road_Number,Road_Type,Speed_limit,Junction_Detail,Junction_Control,2nd_Road_Class,2nd_Road_Number,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location,city
0,2015-01-01,2015450021404,520918.0,165420.0,-0.264115,51.374969,45,3,1,1,5,17:29,38,E10000030,6,2099,6,30,0,-1,-1,0,0,0,7,1,2,0,0,1,1,E01030388,Epsom and Ewell
1,2015-01-01,2015450021402,521727.0,153984.0,-0.256400,51.272014,45,3,1,1,5,12:18,513,E10000030,1,25,3,70,0,-1,-1,0,0,0,1,2,2,0,0,2,1,E01030639,Reigate and Banstead
2,2015-01-01,2015460251429,558490.0,173060.0,0.278702,51.434375,46,3,1,1,5,22:00,532,E10000016,4,255,1,40,1,4,6,0,0,0,4,8,2,0,0,2,1,E01024141,Dartford
3,2015-01-01,2015460251435,612500.0,156530.0,1.044814,51.268290,46,3,4,5,5,03:00,531,E10000016,3,28,6,30,0,-1,-1,0,0,0,4,1,2,0,0,1,1,E01024127,Canterbury
4,2015-01-01,2015460251450,635800.0,166190.0,1.384607,51.345845,46,2,2,1,5,14:28,541,E10000016,3,256,6,30,3,4,6,0,0,0,1,1,1,0,0,1,1,E01024682,Thanet
5,2015-01-01,2015100003115,420292.0,565382.0,-1.684459,54.982629,10,3,2,1,5,13:00,147,E08000021,3,191,1,30,1,4,3,186,0,0,1,1,1,0,0,1,1,E01008344,Newcastle upon Tyne
6,2015-01-01,2015460251483,637240.0,170020.0,1.407799,51.379623,46,3,2,4,5,00:40,541,E10000016,4,2052,6,30,0,-1,-1,0,0,1,4,1,2,0,0,1,1,E01024666,Thanet
7,2015-01-01,2015450020982,499202.0,149790.0,-0.580344,51.238676,45,3,2,1,5,21:50,511,E10000030,6,4003,6,30,0,-1,-1,0,0,0,4,5,2,0,0,1,1,E01030452,NaN
8,2015-01-01,2015100000615,424679.0,566841.0,-1.615787,54.995543,10,3,2,1,5,17:00,147,E08000021,3,189,6,30,1,4,4,1318,0,0,4,4,2,0,0,1,1,E01008369,Newcastle upon Tyne
9,2015-01-01,2015100000115,429961.0,581447.0,-1.531700,55.126501,10,3,1,1,5,17:15,139,E06000048,6,9704,6,30,0,-1,-1,0,0,0,4,2,2,0,0,1,1,E01027392,NaN

In [14]:
accidents_withcities.shape

(31334, 33)

In [15]:
#drop NAs
accidents_withcities = accidents_withcities.dropna()

In [16]:
accidents_withcities.shape

(21805, 33)

In [17]:
accidents_withcities.head(10)

,Date,Accident_Index_x,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Day_of_Week,Time,Local_Authority_(District),Local_Authority_(Highway),1st_Road_Class,1st_Road_Number,Road_Type,Speed_limit,Junction_Detail,Junction_Control,2nd_Road_Class,2nd_Road_Number,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location,city
0,2015-01-01,2015450021404,520918.0,165420.0,-0.264115,51.374969,45,3,1,1,5,17:29,38,E10000030,6,2099,6,30,0,-1,-1,0,0,0,7,1,2,0,0,1,1,E01030388,Epsom and Ewell
1,2015-01-01,2015450021402,521727.0,153984.0,-0.256400,51.272014,45,3,1,1,5,12:18,513,E10000030,1,25,3,70,0,-1,-1,0,0,0,1,2,2,0,0,2,1,E01030639,Reigate and Banstead
2,2015-01-01,2015460251429,558490.0,173060.0,0.278702,51.434375,46,3,1,1,5,22:00,532,E10000016,4,255,1,40,1,4,6,0,0,0,4,8,2,0,0,2,1,E01024141,Dartford
3,2015-01-01,2015460251435,612500.0,156530.0,1.044814,51.268290,46,3,4,5,5,03:00,531,E10000016,3,28,6,30,0,-1,-1,0,0,0,4,1,2,0,0,1,1,E01024127,Canterbury
4,2015-01-01,2015460251450,635800.0,166190.0,1.384607,51.345845,46,2,2,1,5,14:28,541,E10000016,3,256,6,30,3,4,6,0,0,0,1,1,1,0,0,1,1,E01024682,Thanet
5,2015-01-01,2015100003115,420292.0,565382.0,-1.684459,54.982629,10,3,2,1,5,13:00,147,E08000021,3,191,1,30,1,4,3,186,0,0,1,1,1,0,0,1,1,E01008344,Newcastle upon Tyne
6,2015-01-01,2015460251483,637240.0,170020.0,1.407799,51.379623,46,3,2,4,5,00:40,541,E10000016,4,2052,6,30,0,-1,-1,0,0,1,4,1,2,0,0,1,1,E01024666,Thanet
8,2015-01-01,2015100000615,424679.0,566841.0,-1.615787,54.995543,10,3,2,1,5,17:00,147,E08000021,3,189,6,30,1,4,4,1318,0,0,4,4,2,0,0,1,1,E01008369,Newcastle upon Tyne
12,2015-01-01,2015460251558,607160.0,153700.0,0.966739,51.244842,46,3,1,1,5,18:40,530,E10000016,6,612,6,30,0,-1,-1,0,0,0,4,1,1,0,0,2,1,E01023987,Ashford
16,2015-01-01,2015460251510,616300.0,159180.0,1.100805,51.290655,46,2,1,1,5,02:27,531,E10000016,3,28,6,30,0,-1,-1,0,0,0,4,1,2,0,0,1,1,E01024090,Canterbury

In [19]:
accidents_withcities['city'].mode()

0    London
dtype: object

In [20]:
#filter for the most frequent city
accidents_London_winter2015 = accidents_withcities[accidents_withcities['city']=="London"]

In [21]:
accidents_London_winter2015.shape

(5402, 33)

In [22]:
accidents_London_winter2015.head(10)

,Date,Accident_Index_x,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Day_of_Week,Time,Local_Authority_(District),Local_Authority_(Highway),1st_Road_Class,1st_Road_Number,Road_Type,Speed_limit,Junction_Detail,Junction_Control,2nd_Road_Class,2nd_Road_Number,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location,city
17,2015-01-01,201501JC30088,538410.0,186780.0,-0.004597,51.562921,1,3,2,4,5,17:00,13,E09000031,4,161,6,30,3,4,6,0,0,0,4,1,1,0,0,1,1,E01004373,London
28,2015-01-01,201501GD10020,533950.0,183510.0,-0.070144,51.534611,1,3,2,1,5,04:00,4,E09000012,4,108,6,30,0,-1,-1,0,0,5,4,1,1,0,0,1,2,E01001774,London
35,2015-01-01,201501GD10022,532050.0,187470.0,-0.096036,51.570645,1,3,2,1,5,22:30,4,E09000012,3,503,6,30,6,2,3,105,0,5,4,2,2,0,0,1,1,E01001714,London
37,2015-01-01,201501ZD30148,534550.0,164390.0,-0.068762,51.362649,1,3,1,1,5,23:55,20,E09000008,3,212,6,30,3,4,5,0,0,0,4,2,2,0,0,1,1,E01001122,London
48,2015-01-01,201501MM70020,532510.0,176890.0,-0.093378,51.475460,1,3,1,1,5,19:41,8,E09000028,3,215,6,30,3,4,3,215,0,0,4,1,1,0,0,1,1,E01003921,London
49,2015-01-01,201501QK50060,518960.0,184060.0,-0.285969,51.542909,1,3,4,2,5,03:41,28,E09000005,6,0,6,30,9,4,6,0,0,0,4,1,1,0,0,1,1,E01000477,London
51,2015-01-01,201501HT20022,534580.0,181310.0,-0.061906,51.514692,1,3,2,1,5,04:25,5,E09000030,3,13,6,30,6,2,4,108,0,5,4,1,1,0,0,1,1,E01004319,London
54,2015-01-01,201501HT20025,534940.0,181990.0,-0.056461,51.520717,1,3,1,1,5,23:50,5,E09000030,3,107,6,30,0,-1,-1,0,0,0,4,1,2,0,0,1,1,E01004208,London
57,2015-01-01,201501HT20122,534810.0,181850.0,-0.058387,51.519490,1,3,1,1,5,00:05,5,E09000030,3,11,3,30,3,4,5,0,0,4,4,1,2,0,0,1,1,E01004208,London
66,2015-01-01,201501EK40147,530770.0,181590.0,-0.116677,51.518102,1,3,1,1,5,02:15,2,E09000007,5,0,6,30,3,4,3,40,0,4,4,1,1,0,0,1,2,E01000914,London

## Weather API

In [23]:
import urllib.parse
import urllib.request
import json
import time
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [49]:
#get the winter season weather data for london 

API_KEY="JHJKNRM6CC52KJTBZ66V29A86"
LOCATION="London,UK"
UNIT_GROUP="us"
#start_date = '2015-01-01'
#end_date = '2015-02-29'
start_date = '2015-12-01'
end_date = '2015-12-31'

def getWeatherForecast():
    requestUrl = "https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/" + urllib.parse.quote_plus(LOCATION)
    requestUrl = requestUrl+'/'+str(start_date)+'/'+str(end_date)+"?key="+API_KEY+"&unitGroup="+UNIT_GROUP+"&include=days";
    print('Weather requestUrl={requestUrl}'.format(requestUrl=requestUrl))
    

    try:
        req = urllib.request.urlopen(requestUrl)
    except:
                 print("Could not read from:"+requestUrl);
                 return []
                
    rawForecastData = req.read()
    req.close()
    return json.loads(rawForecastData)
    
    
weatherForecast = getWeatherForecast()

print('Weather forecast for {location}'.format(location=weatherForecast['resolvedAddress']))
days=weatherForecast['days'];

for day in days:
    print('{datetime} tempmax:{tempmax} tempmin:{tempmin} description:{description}'.format(datetime=day['datetime'], tempmax=day["tempmax"], tempmin=day["tempmin"], description=day["description"]))

Weather requestUrl=https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline/London%2CUK/2015-12-01/2015-12-31?key=JHJKNRM6CC52KJTBZ66V29A86&unitGroup=us&include=days
Weather forecast for London, England, United Kingdom
2015-12-01 tempmax:58.2 tempmin:49.2 description:Clear conditions throughout the day with rain clearing later.
2015-12-02 tempmax:56.0 tempmin:53.7 description:Clear conditions throughout the day.
2015-12-03 tempmax:55.7 tempmin:53.3 description:Clear conditions throughout the day.
2015-12-04 tempmax:56.0 tempmin:43.4 description:Clear conditions throughout the day with rain clearing later.
2015-12-05 tempmax:55.7 tempmin:53.0 description:Clear conditions throughout the day.
2015-12-06 tempmax:57.4 tempmin:54.6 description:Clear conditions throughout the day with afternoon rain.
2015-12-07 tempmax:56.6 tempmin:52.8 description:Clear conditions throughout the day with rain.
2015-12-08 tempmax:56.9 tempmin:45.8 description:Clear conditions throughout the day with rain in the morning and afternoon.
2015-12-09 tempmax:53.3 tempmin:40.7 description:Clear conditions throughout the day.
2015-12-10 tempmax:53.9 tempmin:49.2 description:Clear conditions throughout the day with afternoon rain.
2015-12-11 tempmax:51.5 tempmin:43.1 description:Clear conditions throughout the day with rain.
2015-12-12 tempmax:56.0 tempmin:42.2 description:Clear conditions throughout the day with late afternoon rain.
2015-12-13 tempmax:55.7 tempmin:43.8 description:Clear conditions throughout the day with rain in the morning and afternoon.
2015-12-14 tempmax:50.6 tempmin:46.1 description:Clear conditions throughout the day with late afternoon rain.
2015-12-15 tempmax:55.1 tempmin:48.8 description:Clear conditions throughout the day with rain.
2015-12-16 tempmax:59.3 tempmin:55.5 description:Clear conditions throughout the day with rain clearing later.
2015-12-17 tempmax:60.5 tempmin:53.9 description:Clear conditions throughout the day with late afternoon rain.
2015-12-18 tempmax:56.9 tempmin:53.0 description:Clear conditions throughout the day.
2015-12-19 tempmax:61.1 tempmin:56.0 description:Clear conditions throughout the day.
2015-12-20 tempmax:58.7 tempmin:49.3 description:Clear conditions throughout the day with late afternoon rain.
2015-12-21 tempmax:54.8 tempmin:46.1 description:Clear conditions throughout the day with rain.
2015-12-22 tempmax:59.6 tempmin:51.5 description:Clear conditions throughout the day with rain in the morning and afternoon.
2015-12-23 tempmax:53.3 tempmin:48.5 description:Clear conditions throughout the day with early morning rain.
2015-12-24 tempmax:55.5 tempmin:44.3 description:Clear conditions throughout the day with afternoon rain.
2015-12-25 tempmax:58.4 tempmin:42.5 description:Clear conditions throughout the day with afternoon rain.
2015-12-26 tempmax:59.6 tempmin:56.0 description:Clear conditions throughout the day with rain.
2015-12-27 tempmax:58.4 tempmin:54.8 description:Clear conditions throughout the day.
2015-12-28 tempmax:59.1 tempmin:49.7 description:Clear conditions throughout the day.
2015-12-29 tempmax:54.8 tempmin:49.4 description:Clear conditions throughout the day with rain in the morning and afternoon.
2015-12-30 tempmax:56.4 tempmin:50.3 description:Clear conditions throughout the day.
2015-12-31 tempmax:51.9 tempmin:43.4 description:Clear conditions throughout the day with rain.

In [50]:
#1#london_weather_jan_feb = pd.DataFrame(days)
london_weather_dec = pd.DataFrame(days)

In [51]:
#1#london_weather_jan_feb.head()
london_weather_dec.head()

,datetime,datetimeEpoch,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,precip,precipprob,precipcover,preciptype,snow,snowdepth,windgust,windspeed,winddir,pressure,cloudcover,visibility,solarradiation,solarenergy,uvindex,sunrise,sunriseEpoch,sunset,sunsetEpoch,moonphase,conditions,description,icon,stations,source
0,2015-12-01,1448928000,58.2,49.2,54.7,58.2,46.6,54.6,47.5,77.83,0.14,None,8.33,None,None,None,33.3,6.1,252.0,1022.5,0.6,15.6,None,None,None,07:43:20,1448955800,15:55:10,1448985310,0.67,Rain,Clear conditions throughout the day with rain ...,rain,"[03769099999, 03680099999, 03672099999, 037810...",obs
1,2015-12-02,1449014400,56.0,53.7,54.7,56.0,53.7,54.7,46.3,73.37,0.00,None,4.17,None,None,None,31.1,8.4,218.5,1022.9,0.5,16.2,None,None,None,07:44:43,1449042283,15:54:32,1449071672,0.71,Clear,Clear conditions throughout the day.,clear-day,"[03769099999, 03680099999, 03672099999, 037810...",obs
2,2015-12-03,1449100800,55.7,53.3,54.9,55.7,53.3,54.9,48.4,78.82,0.00,None,0.00,None,None,None,34.4,0.1,199.3,1019.4,0.5,11.0,None,None,None,07:46:05,1449128765,15:53:58,1449158038,0.76,Clear,Clear conditions throughout the day.,clear-day,"[03769099999, 03680099999, 03672099999, 037810...",obs
3,2015-12-04,1449187200,56.0,43.4,50.9,56.0,43.4,50.9,43.1,74.82,0.13,None,8.70,None,None,None,34.4,0.1,240.0,1025.1,0.4,18.5,None,None,None,07:47:25,1449215245,15:53:27,1449244407,0.81,Rain,Clear conditions throughout the day with rain ...,rain,"[03769099999, 03680099999, 03672099999, 037810...",obs
4,2015-12-05,1449273600,55.7,53.0,54.2,55.7,53.0,54.2,43.7,67.51,0.00,None,0.00,None,None,None,42.3,21.6,224.1,1019.3,0.6,14.0,None,None,None,07:48:42,1449301722,15:53:00,1449330780,0.85,Clear,Clear conditions throughout the day.,clear-day,"[03769099999, 03680099999, 03672099999, 037810...",obs

In [48]:
london_weather_jan_feb.to_csv('/Users/ersankucukoglu/Desktop/Projects/accidents_python-project/data/clean/london_weather_jan_feb.csv')

In [52]:
london_weather_dec.to_csv('/Users/ersankucukoglu/Desktop/Projects/accidents_python-project/data/clean/london_weather_dec.csv')

In [54]:
#read the london weather data
london_weather_jan_feb = pd.read_csv('/Users/ersankucukoglu/Desktop/Projects/accidents_python-project/data/clean/london_weather_jan_feb.csv')
london_weather_dec = pd.read_csv('/Users/ersankucukoglu/Desktop/Projects/accidents_python-project/data/clean/london_weather_dec.csv')

In [60]:
london_weather_data=pd.concat([london_weather_jan_feb,london_weather_dec])

In [62]:
london_weather_data.head()

,Unnamed: 0,datetime,datetimeEpoch,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,precip,precipprob,precipcover,preciptype,snow,snowdepth,windgust,windspeed,winddir,pressure,cloudcover,visibility,solarradiation,solarenergy,uvindex,sunrise,sunriseEpoch,sunset,sunsetEpoch,moonphase,conditions,description,icon,stations,source
0,0,2015-01-01,1420070400,53.3,41.3,47.7,53.3,41.3,47.7,43.5,85.34,0.01,NaN,4.17,NaN,NaN,NaN,37.2,0.1,209.3,1027.8,0.6,6.0,NaN,NaN,NaN,08:06:16,1420099576,16:01:49,1420128109,0.43,Rain,Clear conditions throughout the day with morni...,rain,"['03769099999', '03680099999', '03672099999', ...",obs
1,1,2015-01-02,1420156800,54.8,41.1,48.1,54.8,41.1,48.1,38.5,69.99,0.04,NaN,4.17,NaN,NaN,NaN,37.5,0.1,259.8,1028.9,0.3,17.4,NaN,NaN,NaN,08:06:09,1420185969,16:02:53,1420214573,0.46,Rain,Clear conditions throughout the day with early...,rain,"['03769099999', '03680099999', '03672099999', ...",obs
2,2,2015-01-03,1420243200,43.9,36.6,41.1,43.9,36.6,41.1,37.4,86.73,0.51,NaN,12.50,NaN,NaN,NaN,28.9,0.1,170.3,1024.0,0.6,7.7,NaN,NaN,NaN,08:05:59,1420272359,16:03:59,1420301039,0.49,Rain,Clear conditions throughout the day with rain ...,rain,"['03769099999', '03680099999', '03672099999', ...",obs
3,3,2015-01-04,1420329600,38.6,32.3,35.8,38.6,32.3,35.8,34.0,93.34,0.01,NaN,8.33,NaN,NaN,NaN,NaN,0.0,211.6,1035.3,0.4,1.7,NaN,NaN,NaN,08:05:46,1420358746,16:05:09,1420387509,0.50,Rain,Clear conditions throughout the day with after...,rain,"['03769099999', '03680099999', '03672099999', ...",obs
4,4,2015-01-05,1420416000,49.7,40.2,45.8,49.7,40.2,45.8,40.4,81.42,0.00,NaN,0.00,NaN,NaN,NaN,NaN,0.1,191.7,1029.2,0.6,9.4,NaN,NaN,NaN,08:05:29,1420445129,16:06:20,1420473980,0.50,Clear,Clear conditions throughout the day.,clear-day,"['03769099999', '03680099999', '03672099999', ...",obs

In [63]:
london_weather_data.to_csv('/Users/ersankucukoglu/Desktop/Projects/accidents_python-project/data/clean/london_weather_data.csv')

## Merge london_weather_data AND accidents_London_winter2015

In [67]:
accidents_London_winter2015.head()

,Date,Accident_Index_x,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Day_of_Week,Time,Local_Authority_(District),Local_Authority_(Highway),1st_Road_Class,1st_Road_Number,Road_Type,Speed_limit,Junction_Detail,Junction_Control,2nd_Road_Class,2nd_Road_Number,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location,city
17,2015-01-01,201501JC30088,538410.0,186780.0,-0.004597,51.562921,1,3,2,4,5,17:00,13,E09000031,4,161,6,30,3,4,6,0,0,0,4,1,1,0,0,1,1,E01004373,London
28,2015-01-01,201501GD10020,533950.0,183510.0,-0.070144,51.534611,1,3,2,1,5,04:00,4,E09000012,4,108,6,30,0,-1,-1,0,0,5,4,1,1,0,0,1,2,E01001774,London
35,2015-01-01,201501GD10022,532050.0,187470.0,-0.096036,51.570645,1,3,2,1,5,22:30,4,E09000012,3,503,6,30,6,2,3,105,0,5,4,2,2,0,0,1,1,E01001714,London
37,2015-01-01,201501ZD30148,534550.0,164390.0,-0.068762,51.362649,1,3,1,1,5,23:55,20,E09000008,3,212,6,30,3,4,5,0,0,0,4,2,2,0,0,1,1,E01001122,London
48,2015-01-01,201501MM70020,532510.0,176890.0,-0.093378,51.475460,1,3,1,1,5,19:41,8,E09000028,3,215,6,30,3,4,3,215,0,0,4,1,1,0,0,1,1,E01003921,London

In [75]:
accidents_London_winter2015.rename(columns = {'Date':'date'}, inplace = True)

/Users/ersankucukoglu/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [68]:
london_weather_data.head()

,Unnamed: 0,datetime,datetimeEpoch,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,precip,precipprob,precipcover,preciptype,snow,snowdepth,windgust,windspeed,winddir,pressure,cloudcover,visibility,solarradiation,solarenergy,uvindex,sunrise,sunriseEpoch,sunset,sunsetEpoch,moonphase,conditions,description,icon,stations,source
0,0,2015-01-01,1420070400,53.3,41.3,47.7,53.3,41.3,47.7,43.5,85.34,0.01,NaN,4.17,NaN,NaN,NaN,37.2,0.1,209.3,1027.8,0.6,6.0,NaN,NaN,NaN,08:06:16,1420099576,16:01:49,1420128109,0.43,Rain,Clear conditions throughout the day with morni...,rain,"['03769099999', '03680099999', '03672099999', ...",obs
1,1,2015-01-02,1420156800,54.8,41.1,48.1,54.8,41.1,48.1,38.5,69.99,0.04,NaN,4.17,NaN,NaN,NaN,37.5,0.1,259.8,1028.9,0.3,17.4,NaN,NaN,NaN,08:06:09,1420185969,16:02:53,1420214573,0.46,Rain,Clear conditions throughout the day with early...,rain,"['03769099999', '03680099999', '03672099999', ...",obs
2,2,2015-01-03,1420243200,43.9,36.6,41.1,43.9,36.6,41.1,37.4,86.73,0.51,NaN,12.50,NaN,NaN,NaN,28.9,0.1,170.3,1024.0,0.6,7.7,NaN,NaN,NaN,08:05:59,1420272359,16:03:59,1420301039,0.49,Rain,Clear conditions throughout the day with rain ...,rain,"['03769099999', '03680099999', '03672099999', ...",obs
3,3,2015-01-04,1420329600,38.6,32.3,35.8,38.6,32.3,35.8,34.0,93.34,0.01,NaN,8.33,NaN,NaN,NaN,NaN,0.0,211.6,1035.3,0.4,1.7,NaN,NaN,NaN,08:05:46,1420358746,16:05:09,1420387509,0.50,Rain,Clear conditions throughout the day with after...,rain,"['03769099999', '03680099999', '03672099999', ...",obs
4,4,2015-01-05,1420416000,49.7,40.2,45.8,49.7,40.2,45.8,40.4,81.42,0.00,NaN,0.00,NaN,NaN,NaN,NaN,0.1,191.7,1029.2,0.6,9.4,NaN,NaN,NaN,08:05:29,1420445129,16:06:20,1420473980,0.50,Clear,Clear conditions throughout the day.,clear-day,"['03769099999', '03680099999', '03672099999', ...",obs

In [76]:
london_weather_data.rename(columns = {'datetime':'date'}, inplace = True)

In [77]:
df = accidents_London_winter2015.merge(london_weather_data, on='date', how='left')

In [81]:
df.head()

,date,Accident_Index_x,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Day_of_Week,Time,Local_Authority_(District),Local_Authority_(Highway),1st_Road_Class,1st_Road_Number,Road_Type,Speed_limit,Junction_Detail,Junction_Control,2nd_Road_Class,2nd_Road_Number,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location,city,Unnamed: 0,datetimeEpoch,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,precip,precipprob,precipcover,preciptype,snow,snowdepth,windgust,windspeed,winddir,pressure,cloudcover,visibility,solarradiation,solarenergy,uvindex,sunrise,sunriseEpoch,sunset,sunsetEpoch,moonphase,conditions,description,icon,stations,source
0,2015-01-01,201501JC30088,538410.0,186780.0,-0.004597,51.562921,1,3,2,4,5,17:00,13,E09000031,4,161,6,30,3,4,6,0,0,0,4,1,1,0,0,1,1,E01004373,London,0,1420070400,53.3,41.3,47.7,53.3,41.3,47.7,43.5,85.34,0.01,NaN,4.17,NaN,NaN,NaN,37.2,0.1,209.3,1027.8,0.6,6.0,NaN,NaN,NaN,08:06:16,1420099576,16:01:49,1420128109,0.43,Rain,Clear conditions throughout the day with morni...,rain,"['03769099999', '03680099999', '03672099999', ...",obs
1,2015-01-01,201501GD10020,533950.0,183510.0,-0.070144,51.534611,1,3,2,1,5,04:00,4,E09000012,4,108,6,30,0,-1,-1,0,0,5,4,1,1,0,0,1,2,E01001774,London,0,1420070400,53.3,41.3,47.7,53.3,41.3,47.7,43.5,85.34,0.01,NaN,4.17,NaN,NaN,NaN,37.2,0.1,209.3,1027.8,0.6,6.0,NaN,NaN,NaN,08:06:16,1420099576,16:01:49,1420128109,0.43,Rain,Clear conditions throughout the day with morni...,rain,"['03769099999', '03680099999', '03672099999', ...",obs
2,2015-01-01,201501GD10022,532050.0,187470.0,-0.096036,51.570645,1,3,2,1,5,22:30,4,E09000012,3,503,6,30,6,2,3,105,0,5,4,2,2,0,0,1,1,E01001714,London,0,1420070400,53.3,41.3,47.7,53.3,41.3,47.7,43.5,85.34,0.01,NaN,4.17,NaN,NaN,NaN,37.2,0.1,209.3,1027.8,0.6,6.0,NaN,NaN,NaN,08:06:16,1420099576,16:01:49,1420128109,0.43,Rain,Clear conditions throughout the day with morni...,rain,"['03769099999', '03680099999', '03672099999', ...",obs
3,2015-01-01,201501ZD30148,534550.0,164390.0,-0.068762,51.362649,1,3,1,1,5,23:55,20,E09000008,3,212,6,30,3,4,5,0,0,0,4,2,2,0,0,1,1,E01001122,London,0,1420070400,53.3,41.3,47.7,53.3,41.3,47.7,43.5,85.34,0.01,NaN,4.17,NaN,NaN,NaN,37.2,0.1,209.3,1027.8,0.6,6.0,NaN,NaN,NaN,08:06:16,1420099576,16:01:49,1420128109,0.43,Rain,Clear conditions throughout the day with morni...,rain,"['03769099999', '03680099999', '03672099999', ...",obs
4,2015-01-01,201501MM70020,532510.0,176890.0,-0.093378,51.475460,1,3,1,1,5,19:41,8,E09000028,3,215,6,30,3,4,3,215,0,0,4,1,1,0,0,1,1,E01003921,London,0,1420070400,53.3,41.3,47.7,53.3,41.3,47.7,43.5,85.34,0.01,NaN,4.17,NaN,NaN,NaN,37.2,0.1,209.3,1027.8,0.6,6.0,NaN,NaN,NaN,08:06:16,1420099576,16:01:49,1420128109,0.43,Rain,Clear conditions throughout the day with morni...,rain,"['03769099999', '03680099999', '03672099999', ...",obs

In [82]:
df.to_csv('/Users/ersankucukoglu/Desktop/Projects/accidents_python-project/data/clean/accidents_london.csv')