## Data preparation for API

In [1]:
import pandas as pd 
import os
import json
from datetime import datetime
import matplotlib.pyplot as plt
import math
import csv
from geopy.geocoders import Nominatim
import geocoder

In [2]:
pd.set_option('display.max_columns', None)

In [3]:
#load accidents data
accidents_raw = pd.read_csv('/Users/sabina/Documents/2022/project/data/raw/Accidents0515.csv')

In [4]:
#drop NAs
accidents = accidents_raw.dropna()

In [5]:
accidents['Date'] = pd.to_datetime(accidents['Date'], format='%d/%m/%Y')

/var/folders/lc/3yknv_8x5832sztwzg33_tcw0000gn/T/ipykernel_38605/554119514.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  accidents['Date'] = pd.to_datetime(accidents['Date'], format='%d/%m/%Y')

In [6]:
accidents = accidents.set_index('Date').sort_index()

In [7]:
accidents.head(10)

,Accident_Index,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Day_of_Week,Time,Local_Authority_(District),Local_Authority_(Highway),1st_Road_Class,1st_Road_Number,Road_Type,Speed_limit,Junction_Detail,Junction_Control,2nd_Road_Class,2nd_Road_Number,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location
Date,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
2005-01-01,200506Q917927,390440.0,405500.0,-2.145753,53.546041,6,3,2,5,7,15:30,104,E08000004,3,663,6,40,6,4,3,669,0,0,1,2,2,0,0,1,1,E01005327
2005-01-01,2005030000222,309370.0,525330.0,-3.404932,54.614977,3,3,1,1,7,00:58,60,E10000006,3,5086,6,60,0,-1,-1,0,0,0,6,1,2,0,0,2,1,E01019091
2005-01-01,2005160D00630,508560.0,429470.0,-0.355114,53.750295,16,3,2,2,7,14:02,228,E06000010,6,0,6,30,3,4,6,0,0,0,1,1,1,0,0,1,1,E01012852
2005-01-01,200542E000101,599770.0,227110.0,0.902767,51.906647,42,3,1,1,7,11:05,455,E10000012,6,0,6,30,0,-1,-1,0,0,0,1,1,1,0,0,1,1,E01021679
2005-01-01,200542E000201,603020.0,230820.0,0.952133,51.938785,42,2,1,2,7,23:57,455,E10000012,3,12,3,70,0,-1,-1,0,0,0,6,1,2,0,0,2,1,E01021655
2005-01-01,2005160D01750,507360.0,428710.0,-0.373569,53.743715,16,3,2,1,7,19:16,228,E06000010,3,1105,6,30,6,2,6,0,0,5,4,1,2,0,0,1,1,E01012859
2005-01-01,2005160D03840,513430.0,431660.0,-0.280490,53.768934,16,3,2,1,7,17:40,228,E06000010,3,165,3,30,3,4,6,0,0,0,4,4,2,0,0,1,1,E01012825
2005-01-01,200563AC00405,229590.0,210290.0,-4.470960,51.765247,63,3,1,1,7,06:20,751,W06000010,3,4066,6,30,0,-1,-1,0,0,0,4,1,2,0,0,2,1,W01000673
2005-01-01,2005160D04130,515090.0,430310.0,-0.255820,53.756442,16,3,3,2,7,19:19,228,E06000010,6,0,6,30,8,4,6,0,0,0,4,2,2,0,0,1,1,E01012846
2005-01-01,200514D001905,436550.0,387700.0,-1.451948,53.384874,14,3,2,1,7,17:10,215,E08000019,3,57,3,40,0,-1,-1,0,0,0,7,2,2,0,0,1,2,E01007885

In [13]:
#it takes hours to load data, thus we loaded it by days/weeks
accidents_dec1 = accidents.loc['2015-12-01':'2015-12-07']

In [14]:
accidents_dec1.shape

(412, 31)

In [15]:
#add city using geocoder package

def city_name(x):
    g = geocoder.osm([x.Latitude, x.Longitude], method='reverse').json
    if g:
        return g.get('city')
    else:
        return 'no city'

In [16]:
accidents_dec1['city'] = accidents_dec1[['Latitude', 'Longitude']].apply(city_name, axis=1)

/var/folders/lc/3yknv_8x5832sztwzg33_tcw0000gn/T/ipykernel_38605/2244529344.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  accidents_dec1['city'] = accidents_dec1[['Latitude', 'Longitude']].apply(city_name, axis=1)

In [17]:
accidents_dec1.to_csv('01122015-07122015.csv')

In [22]:
#load all accidents tables with cities saved into one file
accidents_withcities = pd.read_csv('/Users/sabina/Documents/2022/project/data/cities/winter2015withcities.csv',on_bad_lines='skip')

In [23]:
accidents_withcities.head(10)

,Date,Accident_Index_x,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Day_of_Week,Time,Local_Authority_(District),Local_Authority_(Highway),1st_Road_Class,1st_Road_Number,Road_Type,Speed_limit,Junction_Detail,Junction_Control,2nd_Road_Class,2nd_Road_Number,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location,city
0,2015-01-01,2015450021404,520918.0,165420.0,-0.264115,51.374969,45,3,1,1,5,17:29,38,E10000030,6,2099,6,30,0,-1,-1,0,0,0,7,1,2,0,0,1,1,E01030388,Epsom and Ewell
1,2015-01-01,2015450021402,521727.0,153984.0,-0.256400,51.272014,45,3,1,1,5,12:18,513,E10000030,1,25,3,70,0,-1,-1,0,0,0,1,2,2,0,0,2,1,E01030639,Reigate and Banstead
2,2015-01-01,2015460251429,558490.0,173060.0,0.278702,51.434375,46,3,1,1,5,22:00,532,E10000016,4,255,1,40,1,4,6,0,0,0,4,8,2,0,0,2,1,E01024141,Dartford
3,2015-01-01,2015460251435,612500.0,156530.0,1.044814,51.268290,46,3,4,5,5,03:00,531,E10000016,3,28,6,30,0,-1,-1,0,0,0,4,1,2,0,0,1,1,E01024127,Canterbury
4,2015-01-01,2015460251450,635800.0,166190.0,1.384607,51.345845,46,2,2,1,5,14:28,541,E10000016,3,256,6,30,3,4,6,0,0,0,1,1,1,0,0,1,1,E01024682,Thanet
5,2015-01-01,2015100003115,420292.0,565382.0,-1.684459,54.982629,10,3,2,1,5,13:00,147,E08000021,3,191,1,30,1,4,3,186,0,0,1,1,1,0,0,1,1,E01008344,Newcastle upon Tyne
6,2015-01-01,2015460251483,637240.0,170020.0,1.407799,51.379623,46,3,2,4,5,00:40,541,E10000016,4,2052,6,30,0,-1,-1,0,0,1,4,1,2,0,0,1,1,E01024666,Thanet
7,2015-01-01,2015450020982,499202.0,149790.0,-0.580344,51.238676,45,3,2,1,5,21:50,511,E10000030,6,4003,6,30,0,-1,-1,0,0,0,4,5,2,0,0,1,1,E01030452,NaN
8,2015-01-01,2015100000615,424679.0,566841.0,-1.615787,54.995543,10,3,2,1,5,17:00,147,E08000021,3,189,6,30,1,4,4,1318,0,0,4,4,2,0,0,1,1,E01008369,Newcastle upon Tyne
9,2015-01-01,2015100000115,429961.0,581447.0,-1.531700,55.126501,10,3,1,1,5,17:15,139,E06000048,6,9704,6,30,0,-1,-1,0,0,0,4,2,2,0,0,1,1,E01027392,NaN

In [24]:
accidents_withcities.shape

(31334, 33)

In [25]:
#drop NAs
accidents_withcities = accidents_withcities.dropna()

In [26]:
accidents_withcities.shape

(21805, 33)

In [27]:
accidents_withcities.head(10)

,Date,Accident_Index_x,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Day_of_Week,Time,Local_Authority_(District),Local_Authority_(Highway),1st_Road_Class,1st_Road_Number,Road_Type,Speed_limit,Junction_Detail,Junction_Control,2nd_Road_Class,2nd_Road_Number,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location,city
0,2015-01-01,2015450021404,520918.0,165420.0,-0.264115,51.374969,45,3,1,1,5,17:29,38,E10000030,6,2099,6,30,0,-1,-1,0,0,0,7,1,2,0,0,1,1,E01030388,Epsom and Ewell
1,2015-01-01,2015450021402,521727.0,153984.0,-0.256400,51.272014,45,3,1,1,5,12:18,513,E10000030,1,25,3,70,0,-1,-1,0,0,0,1,2,2,0,0,2,1,E01030639,Reigate and Banstead
2,2015-01-01,2015460251429,558490.0,173060.0,0.278702,51.434375,46,3,1,1,5,22:00,532,E10000016,4,255,1,40,1,4,6,0,0,0,4,8,2,0,0,2,1,E01024141,Dartford
3,2015-01-01,2015460251435,612500.0,156530.0,1.044814,51.268290,46,3,4,5,5,03:00,531,E10000016,3,28,6,30,0,-1,-1,0,0,0,4,1,2,0,0,1,1,E01024127,Canterbury
4,2015-01-01,2015460251450,635800.0,166190.0,1.384607,51.345845,46,2,2,1,5,14:28,541,E10000016,3,256,6,30,3,4,6,0,0,0,1,1,1,0,0,1,1,E01024682,Thanet
5,2015-01-01,2015100003115,420292.0,565382.0,-1.684459,54.982629,10,3,2,1,5,13:00,147,E08000021,3,191,1,30,1,4,3,186,0,0,1,1,1,0,0,1,1,E01008344,Newcastle upon Tyne
6,2015-01-01,2015460251483,637240.0,170020.0,1.407799,51.379623,46,3,2,4,5,00:40,541,E10000016,4,2052,6,30,0,-1,-1,0,0,1,4,1,2,0,0,1,1,E01024666,Thanet
8,2015-01-01,2015100000615,424679.0,566841.0,-1.615787,54.995543,10,3,2,1,5,17:00,147,E08000021,3,189,6,30,1,4,4,1318,0,0,4,4,2,0,0,1,1,E01008369,Newcastle upon Tyne
12,2015-01-01,2015460251558,607160.0,153700.0,0.966739,51.244842,46,3,1,1,5,18:40,530,E10000016,6,612,6,30,0,-1,-1,0,0,0,4,1,1,0,0,2,1,E01023987,Ashford
16,2015-01-01,2015460251510,616300.0,159180.0,1.100805,51.290655,46,2,1,1,5,02:27,531,E10000016,3,28,6,30,0,-1,-1,0,0,0,4,1,2,0,0,1,1,E01024090,Canterbury

In [28]:
accidents_withcities['city'].mode()

0    London
dtype: object

In [30]:
#filter for the most frequent city
accidents_London_winter2015 = accidents_withcities[accidents_withcities['city']=="London"]

In [31]:
accidents_London_winter2015.head(10)

,Date,Accident_Index_x,Location_Easting_OSGR,Location_Northing_OSGR,Longitude,Latitude,Police_Force,Accident_Severity,Number_of_Vehicles,Number_of_Casualties,Day_of_Week,Time,Local_Authority_(District),Local_Authority_(Highway),1st_Road_Class,1st_Road_Number,Road_Type,Speed_limit,Junction_Detail,Junction_Control,2nd_Road_Class,2nd_Road_Number,Pedestrian_Crossing-Human_Control,Pedestrian_Crossing-Physical_Facilities,Light_Conditions,Weather_Conditions,Road_Surface_Conditions,Special_Conditions_at_Site,Carriageway_Hazards,Urban_or_Rural_Area,Did_Police_Officer_Attend_Scene_of_Accident,LSOA_of_Accident_Location,city
17,2015-01-01,201501JC30088,538410.0,186780.0,-0.004597,51.562921,1,3,2,4,5,17:00,13,E09000031,4,161,6,30,3,4,6,0,0,0,4,1,1,0,0,1,1,E01004373,London
28,2015-01-01,201501GD10020,533950.0,183510.0,-0.070144,51.534611,1,3,2,1,5,04:00,4,E09000012,4,108,6,30,0,-1,-1,0,0,5,4,1,1,0,0,1,2,E01001774,London
35,2015-01-01,201501GD10022,532050.0,187470.0,-0.096036,51.570645,1,3,2,1,5,22:30,4,E09000012,3,503,6,30,6,2,3,105,0,5,4,2,2,0,0,1,1,E01001714,London
37,2015-01-01,201501ZD30148,534550.0,164390.0,-0.068762,51.362649,1,3,1,1,5,23:55,20,E09000008,3,212,6,30,3,4,5,0,0,0,4,2,2,0,0,1,1,E01001122,London
48,2015-01-01,201501MM70020,532510.0,176890.0,-0.093378,51.475460,1,3,1,1,5,19:41,8,E09000028,3,215,6,30,3,4,3,215,0,0,4,1,1,0,0,1,1,E01003921,London
49,2015-01-01,201501QK50060,518960.0,184060.0,-0.285969,51.542909,1,3,4,2,5,03:41,28,E09000005,6,0,6,30,9,4,6,0,0,0,4,1,1,0,0,1,1,E01000477,London
51,2015-01-01,201501HT20022,534580.0,181310.0,-0.061906,51.514692,1,3,2,1,5,04:25,5,E09000030,3,13,6,30,6,2,4,108,0,5,4,1,1,0,0,1,1,E01004319,London
54,2015-01-01,201501HT20025,534940.0,181990.0,-0.056461,51.520717,1,3,1,1,5,23:50,5,E09000030,3,107,6,30,0,-1,-1,0,0,0,4,1,2,0,0,1,1,E01004208,London
57,2015-01-01,201501HT20122,534810.0,181850.0,-0.058387,51.519490,1,3,1,1,5,00:05,5,E09000030,3,11,3,30,3,4,5,0,0,4,4,1,2,0,0,1,1,E01004208,London
66,2015-01-01,201501EK40147,530770.0,181590.0,-0.116677,51.518102,1,3,1,1,5,02:15,2,E09000007,5,0,6,30,3,4,3,40,0,4,4,1,1,0,0,1,2,E01000914,London

In [32]:
accidents_London_winter2015.shape

(5402, 33)

## Weather API